@model ControleDeDespesas.Models.Despesas


<div class="container">
    <div class="row">        
        <div class="col-md-12">
            @using (Html.BeginForm("Incluir", "Despesas", "POST"))
            {
                @Html.Partial("/Views/Shared/Despesas/_FormDespesas.cshtml")

                
                <button id="btnAdicionar"><span class="glyphicon glyphicon-plus-sign"></span>Adicionar</button>                
            }

            <hr />            
        </div>
        <div class="col col-xs-12 col-md-12">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tipo</th>
                        <th>Quantidade</th>
                        <th>Valor</th>
                        <th>Total</th>
                        <th>Descritivo</th>
                        <th colspan="2">Opções</th>
                    </tr>
                </thead>
                <tbody id="itensDespesas">                 
                </tbody>
            </table>
            <hr />
            <div id="tbTotal" class="text-right">
                <h4>Total: </h4>
            </div>
            <button class="btn btn-success" id="enviaDespesas">Enviar</button>
           
        </div>
      
    </div >
</div>
<br /><br /><br /><br />


@section Scripts{
   
    <script>        
        var urlDest = "@Url.Action("GetTipos", "TiposDespesas")";
    </script>
    <script src="~/Scripts/Despesas/DespesasValidacoes.js"></script>
    <script src="~/Scripts/Despesas/TiposDeDespesa.js"></script>
    <script src="~/Scripts/Despesas/EnviaDespesasJson.js"></script>

}