@model ControleDeDespesas.Models.Despesas


<div class="container">
    <div class="row">        
        <div class="col-md-12">
            @using (Html.BeginForm("Incluir", "Despesas", "POST"))
            {
                @Html.Partial("/Views/Shared/Despesas/_FormDespesas.cshtml")

                
                <button id="btnAdicionar"><span class="glyphicon glyphicon-plus-sign"></span>Adicionar</button>

            }

            <hr />            
        </div>
        <div class="col col-xs-12 col-md-12">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Quantidade</th>
                        <th>Valor</th>
                        <th>Total</th>
                        <th>Descritivo</th>
                        <th colspan="2">Opções</th>
                    </tr>
                </thead>
                <tbody id="itensDespesas">
                    <tr>
                        <td>Quilometragem(KM)</td>
                        <td>1,00</td>
                        <td>850,00</td>
                        <td>850,00</td>
                        <td>Oni ci verba kombi, al veki vavo minusklo plue, eko li viro interalie ladskatolo. Ene ot ofon reen kompreneble, zo.</td>
                        <td><a href="#"><span class="glyphicon glyphicon-edit"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-erase"></span></a></td>
                    </tr>
                    <tr>
                        <td>Despesas processuais(KM)</td>
                        <td>3,00</td>
                        <td>75,00</td>
                        <td>225,00</td>
                        <td>Oni ci verba kombi, al veki vavo minusklo plue, eko li viro interalie ladskatolo. Ene ot ofon reen kompreneble, zo.</td>
                        <td><a href="#"><span class="glyphicon glyphicon-edit"></span></a></td>
                        <td><a href="#"><span class="glyphicon glyphicon-erase"></span></a></td>
                    </tr>
                    @*<tr>
                        <td class="text-danger"><b>Total</b></td>
                        <td><b>1075,00</b></td>
                    </tr>*@
                </tbody>
            </table>
            <hr />
            <div id="tbTotal" class="text-right">
                <h4>Total: xxx</h4>
            </div>
            <button class="btn btn-success" id="enviaDespesas">Enviar</button>
        </div>
      
    </div>
</div>
<br /><br /><br /><br />


@section Scripts{

    <script>
        var urlDest = "@Url.Action("GetTipos", "TiposDespesas")";
    </script>
    <script src="~/Scripts/TiposDeDespesa.js"></script>
    <script src="~/Scripts/DespesasValidacoes.js"></script>
    }