<div class="container container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="text-center">Despesas</h3>
        </div>
        <div class="panel-body">
            <h2>Body</h2>
        </div>
        <div class="panel-footer">
            <h2 class="text-center">footer</h2>
        </div>
    </div>
</div>




@section Scripts
{  }