
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NonAlterExclui</title>
</head>
<body>
    <div class="text-center"> 
        <img src="~/Content/Icons Pack/question.png" /> <h3>Essa despesa já avaliada pelo seu aprovador, não pode ser excluída ou alterada.</h3>
        @Html.ActionLink("Voltar","Index","Despesas")
    </div>
</body>
</html>
