@media print {
    .no-print, .no-print * {
        display: none !important;
    }
   
}




footer {
    background: #0c84e4;
    color: #fff;
    padding-bottom:0;
    padding-top:10px;    
    text-align: center;    
    bottom: 0px;
    height:60px;
    width: 100%;
    position: fixed;
    float:left;
    overflow:hidden;
}
body {margin-bottom:75px;}
#imgLogo{ margin-top:5px;
          margin-left:5px;          
}
table {    
    margin-left: 2em;
    margin-right:2em;
    width:100%;
    height:auto;
}

.tabDiv{
    border-bottom-color:black;
    border-bottom:solid;
}