
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExcluirErrorPage</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="text-center">
                <img src="~/Content/Icons Pack/question.png" /> <h5>Esse Centro de Custo está em uso por outra tabela, ele não pode ser excluído.</h5>
            </div>
        </div>
    </div>
    
</body>
</html>
