@model Modelos.CadastroDeUsuario
@{
    ViewBag.Title = "Alterar";
}


<div class="container">

    @using (Html.BeginForm("Alterar", "Usuarios", "POST"))
    {
        @Html.HiddenFor(u=> u.Id)

        <fieldset>
            <legend>Cadastro de Usuário</legend>
            @Html.Partial("/Views/Shared/Usuarios/_FormUsuarios.cshtml")
            @Html.ValidationMessage("Alterar_Usuario",new {@class="text-danger" })
        </fieldset>

    }
</div>
@section Scripts
{  }
