@model ControleDeDespesas.Models.CadastroDeUsuario
@{
    ViewBag.Title = "Novo";
}


<div class="container">
    
    @using (Html.BeginForm("Adicionar", "Usuarios", "POST", new { @class = "form-control" }))
    {
        @Html.Partial("/Views/Shared/Usuarios/_FormUsuarios.cshtml")
        <input type="submit" value="Gravar" />
    }
</div>

