
@{
    ViewBag.Title = "RecoverPasswordResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="text-center">
            <h3>Recuperação de senha</h3>
            <fieldset>
                <legend>Informe o Token enviado ao seu e-mail</legend>                
                    @using (Html.BeginForm("AlterPassword", "Usuarios", FormMethod.Post, new { @class= "form-control" }))
                    {
                        <div class="form-group">
                            @Html.Label("Token:")
                            @Html.TextBox("token")

                        </div>
                        <div class="form-group">
                            @Html.Label("Nova Senha:")
                            @Html.TextBox("senha")
                        </div>
                        <input type="submit" value="OK" class="btn btn-default" />

                    }
                
            </fieldset>
        </div>
    </div>
</div>

