
@{
    ViewBag.Title = "RecoverPasswordResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="text-center">
            <h4>Sua nova senha foi enviada por e-mail!</h4>
        </div>
    </div>
</div>

