
@{
    ViewBag.Title = "ErrorUpload";
}


<div class="row">
    <div class="col-xm-12 col-md-4"></div>
    <div class="col-xm-12 col-md-1">
        <div class="text-center">
            <h4>
                <img src="~/Content/Icons Pack/question.png"  />
            </h4>
        </div>
    </div>
    <div class="text-center">
        <div class="col-xm-12 col-md-3">
            <h4>
                Ops! Não consegui enviar os dados <br />
                Vamos tentar novamente?
            </h4>

        </div>
    </div>
    <div class="col-xm-12 col-md-4"></div>
</div>

