@model Modelos.ViewModels.AprovadorPorCCModelView

@{
    ViewBag.Title = "Create";
}


<div class="container container-fluid">
    @using( Html.BeginForm("Create","AprovadorPorCC","POST"))

    {
        @Html.AntiForgeryToken()

        @Html.Partial("/Views/Shared/AprovadorPorCC/_FormAprovadorPorCC.cshtml")
    }

    <div>
        <hr />
        @Html.ActionLink("Voltar para Lista", "Index")
    </div>

</div>

@section Scripts{
    <script>
        var urldest = "@Url.Action("Createa","AprovadorPorCC")"
    </script>
    <script src="~/Scripts/AprovadorPorCC/EnviaAprovadorJson.js"></script>    
}