@model Modelos.ViewModels.AprovadorPorCCModelView

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Realmente deseja excluir esse registro?</h3>
<div>
    <h4>AprovadorPorCC</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |            
        </div>
    }
    <hr />
    @Html.ActionLink("Voltar a Lista", "Index")
</div>
