@model Modelos.ViewModels.AprovadorPorCCModelView

@{
    ViewBag.Title = "Edit";
}

<div class="container container-fluid">
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(a=> a.Id)
            @Html.Partial("/Views/Shared/AprovadorPorCC/_FormAprovadorPorCC.cshtml")
        }

    </div>
</div>
