
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TermoDeAceiteRDV</title>
</head>
<body>

    <div class="container container-fluid">
        <div class="row">
            <article>
                <div>
                    <h3 class="text-center">
                        TERMO DE ADESÃO E CONDIÇÕES GERAIS E ACEITE ELETRÔNICO PARA USO DOS
                        SERVIÇOS DO IEPTB-SP SISTEMA CENPROT
                    </h3>
                    <p>
                        Este Termo e Condições Gerais (doravante apenas TERMO) aplicam-se ao uso dos serviços oferecidos pelo Instituto de
                        Estudos de Protesto de Títulos do Brasil – Seção São Paulo (doravante apenas IEPTB-SP), CNPJ/MF sob o nº
                        45.876.117/0001-71, detentor da titularidade deste site.
                    </p>
                    <p>
                        O objeto do presente TERMO consiste em estabelecer a política e regulamento para acesso e utilização dos serviços da
                        Central de Serviços Eletrônicos Compartilhados dos Tabeliães de Protesto de Títulos do Estado de São Paulo, doravante
                        denominado CENPROT.
                    </p>
                </div>

                <div>
                    <h4>I - CONDIÇÕES GERAIS DE USO </h4>
                    <p>O USUÁRIO declara e concorda expressamente: </p>
                    <p>
                        <ol>
                            <li>Ser maior de 18 anos e possuir capacidade jurídica; </li>
                            <li>
                                Em instalar e manter atualizados programas Anti Spywares, Anti-vírus e outros que impeçam a violação do sistema que é
                                utilizado para ter acesso às FERRAMENTAS da CENPROT;
                            </li>
                            <li>
                                Não utilizar os serviços objeto do presente Termo para quaisquer transações ilícitas e/ou serviços ilícitos;
                            </li>
                            <li>Em manter o sigilo de seu LOGIN e SENHA da conta cadastrada, não os fornecendo a terceiros; </li>
                            <li>
                                reconhece que o presente Termo se formaliza, vinculando as Partes, com a sua aceitação eletrônica pelo USUÁRIO, o
                                que se fará mediante o clique no botão “Aceito o Termo de Uso”;
                            </li>
                        </ol>
                    </p>
                    <p>
                        O USUÁRIO ao se cadastrar na CENPROT poderá incluir em sua conta de cadastro outros usuários para utilização dos
                        serviços.
                        O USUARIO que vier a incluir em seu cadastro logins e senha e/ou e-cpf para outros usuários (doravante denominados
                        apenas TERCEIROS) agirem em seu nome e representá-lo declara neste ato que:
                    </p>
                </div>
            </article>
            <button type="button" class="btn btn-primary" id="TermoAceito">Aceitar</button>
            <button type="button" class="btn btn-danger" id="TermoRecusado">Recusar</button>
        </div>
    </div>
    


</body>
</html>
